asyncpg
debugpy
fastapi[all]
langchain
langchain-cli
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain_google_vertexai
langchainhub
langgraph
langsmith
pgvector
python-dotenv
sqlalchemy[asyncpg]
uvicorn
watchdog
websockets